In [2]:
import pandas as pd

data = {'cities' : ['lahore','karachi',], 'provinces' : ['punjab','sindh']}
frame1 = pd.DataFrame(data)
print(frame1)

data2 = {"cities": ["islamabad","karachi","peshawar","quetta"],
"provinces": ["capital","sindh", "KPK","Balochistan"]}
frame2 = pd.DataFrame(data2)
print(frame2)

frame3 = pd.concat([frame1, frame2])
frame3.drop_duplicates(inplace=True)
frame3.sort_values(by=['provinces'], inplace=True)
frame3

    cities provinces
0   lahore    punjab
1  karachi     sindh
      cities    provinces
0  islamabad      capital
1    karachi        sindh
2   peshawar          KPK
3     quetta  Balochistan

      cities    provinces
3     quetta  Balochistan
2   peshawar          KPK
0  islamabad      capital
0     lahore       punjab
1    karachi        sindh

In [3]:
data = {
    'Name': ['', 'Ali', 'Ahmed', 'Nida', ''],
    'Field': ['C', 'E', 'E', 'C', 'C'],
    'Age': ['', '', '', '', ''],
    'Marks': [-90, 60, -10, 70, 75]
}
df = pd.DataFrame(data, columns=['Name', 'Field', 'Age', 'Marks'])
df.drop(['Age'], axis=1, inplace=True)
df.replace('','---', inplace=True)
df['Field'].replace({'C': 0, 'E': 1}, inplace=True)
df.loc[df['Marks'] < 0, 'Marks'] = df['Marks'].mean()
print(df)

    Name  Field  Marks
0    ---      0     21
1    Ali      1     60
2  Ahmed      1     21
3   Nida      0     70
4    ---      0     75