In [1]:
import pandas as pd
import numpy as np
import random as rd
from sklearn.decomposition import PCA
from sklearn import preprocessing
import matplotlib.pyplot as plt

# creating arrays for random data generation
genes = ['gene'+str(i) for i in range (1,101)]
wt = ['wt'+str(i) for i in range(1,6)]
ko = ['ko'+str(i) for i in range(1,6)]

data = pd.DataFrame(columns=[*wt, *ko], index=genes)

# creating random data
for gene in data.index:
    data.loc[gene, 'wt1':'wt5'] = np.random.poisson(lam=rd.randrange(10,1000), size=5)
    data.loc[gene, 'ko1':'ko5'] = np.random.poisson(lam=rd.randrange(10,1000), size=5)
    
data.head()

#centering and scaling the data => after scaling avg of eaach gene will be 0 and std will be 1
#Alternative for scaling are StandarScaler().fit_transform(data.T)
scaled_data = preprocessing.scale(data.T) #data.T means transpose of data

pca = PCA() #pca obj
pca.fit(scaled_data)
pca_data = pca.transform(scaled_data)

       wt1  wt2  wt3  wt4  wt5  ko1  ko2  ko3  ko4  ko5
gene1   25   30   20   26   17  516  541  546  547  555
gene2  551  550  577  567  553  779  797  766  777  797
gene3  533  488  461  493  496  182  193  187  177  178
gene4  466  422  435  444  418  382  350  354  366  356
gene5  774  752  746  798  828  548  546  551  596  559